.day-card {
	display: flex;
	justify-content: space-evenly;

	border-radius: 5px;
	margin: 0.5rem;
	padding: 4px;

	color: black;
	background: @white;
	cursor: pointer;

	transition: all ease-in-out 300ms;
	box-shadow: -1px 2px 8px 0px rgba(0, 0, 0, 0.3);

	&:hover {
		background: @primary;
	}
}
.day-info {
	width: 100%;
	color: #555;
}

.day-card-name {
	margin: 0;
	font-size: 1.5rem;
}

.day-card-date {
	margin: 5px 0 10px 0;
	font-size: 1rem;
	font-weight: 400;
}

.day-card-degree {
	color: #292929;
	display: flex;
	position: relative;
	flex-direction: inherit;
	align-items: end;
	justify-content: center;
	font-weight: 300;

	span:first-of-type {
		font-size: 38px;
	}
}

.day-card-degree-type {
	font-size: 14px;
	margin: 7px 0;
	display: flex;
	position: m;
	justify-content: space-evenly;
}

.day-description {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	width: 100%;
	align-items: center;

	figure {
		margin: 0;
		padding: 0;
	}

	span {
		margin-top: -5px;
		color: #555;
	}
}
