.nonselected {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button-hover-active {
	span,
	a {
		border-radius: 50px;

		&:hover {
			transform: scale(1.2);
			opacity: 0.9;
		}
	}
}

// Larger than 900px
@media only screen and (min-width: 980px) {
	.day-card {
		animation: switch 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
		width: 10rem;
		padding: 10px 0 12px;
		flex-direction: column;
		align-items: center;
	}

	.add-city {
		margin-right: 30px;
	}

	.sun,
	.rain {
		svg {
			width: 10rem;
			height: 10rem;
		}
	}
}

// Smaller than 900px
@media only screen and (max-width: 980px) {
	.day-card {
		width: 80%;
		align-items: center;

		height: auto;
		animation: switch 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}

	.weather-icon {
		figure {
			width: 100%;
			img {
				width: 50%;
			}
		}
	}
	.add-city {
		margin-right: 30px;
	}

	.sun,
	.rain {
		svg {
			width: 7rem;
			height: 7rem;
		}
	}
}
// Smaller than 480px
@media only screen and (max-width: 480px) {
	.day-card {
		// width: 100%;
		height: auto;
		align-items: center;

		flex-direction: column;
		animation: switch 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}
	.day-description {
		width: 50%;
	}

	.add-city {
		margin-right: 50px;

		div {
			display: none;
		}
	}
}
